.contacts {
	background-color: $primary;
	color: $default;
	width: 3rem;
	height: 3rem;
	cursor: pointer;
	transition: all 0.5s ease-in-out;

	&:hover {
		background-color: $primary-dark;
		color: $default;
	}

	&-icon {
		top: 25%;
		left: 25%;

		&--phone {
			color: $success;
			transform: rotate(90deg);
		}
	}

	&-phone {
		background-color: $light;
		color: $primary;
		min-width: 10%;
	}

	&-footer {
		background-color: $default;
		color: $primary-dark;
	}
}
