.payment {
	@include bgImg('../../assets/bg_tab.png', cover);

	&__info {
		color: $info-dark;
		background: $primary-lightest;

		&-data1 {
			border-left: 0.1rem solid $info;
		}
		&-data2 {
			margin-right: 5%;
		}
	}
}
